/.idea/
/spring-practice.iml
/out/
*/target
*.iml

/spring-06-orm/.mvn/
/spring-06-orm/src/test/
/spring-06-orm/mvnw
/spring-06-orm/mvnw.cmd
/spring-06-orm/.gitignore
/spring-07-orm-queries/.mvn/
/spring-07-orm-queries/src/test/
/spring-07-orm-queries/mvnw
/spring-07-orm-queries/mvnw.cmd
/spring-07-orm-queries/.gitignore
/spring-08-rest/.mvn/
/spring-08-rest/src/test/
/spring-08-rest/mvnw
/spring-08-rest/mvnw.cmd
/spring-08-rest/.gitignore
